html, body { overflow-x: hidden; }

header img {
  height : 43px;
  margin-bottom : 4px;
}

.jumbotron {
  overflow: auto;
  margin-bottom: 0px;
}

.card-img-top {
  height: 210px;
  width: 180px;
}

.nav-link {
  margin-bottom: 4px;
}

.my-navbar {
  max-width: 88%;
}

.eye-grab {
  color: #fff;
  width:100%;
  height:650px;
  overflow-y: hidden;
  display: flex;
  padding:0%;
  margin:0%;
}

.eye-grab img {
  filter: brightness(60%);
}

.eye-grab h1 {
  font-size: 80px;
}

#typing-header {
  margin-left: -37.5px;
}

.eye-grab-header {
  position: absolute;
  top: 12%;
  left: 4%;
  margin-right: 75px;
}

/* Email Sub Modal: */
/* The Modal (background) */
.custom-modal {
 color: #000;
 display: none; /* Hidden by default */
 position: fixed; /* Stay in place */
 z-index: 1; /* Sit on top */
 left: 0;
 top: 0;
 width: 100%; /* Full width */
 height: 100%; /* Full height */
 overflow: auto; /* Enable scroll if needed */
 background-color: rgb(0,0,0); /* Fallback color */
 background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.custom-modal-content {
 background-color: #fefefe;
 margin: 15% auto; /* 15% from the top and centered */
 margin-top: 7.5%;
 padding: 20px;
 border: 1px solid #888;
 width: 80%; /* Could be more or less, depending on screen size */
 overflow: auto;
}

/* The Close Button */
.custom-close {
 color: #aaa;
 float: right;
 font-size: 28px;
 font-weight: bold;
}

.custom-close:hover,
.custom-close:focus {
 color: black;
 text-decoration: none;
 cursor: pointer;
}

.tfw-hero {
  height: 520px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 767px) {
  .tfw-hero {
    height: 675px;
  }

  .tfw-subtitle, .tfw-title-wrap {
    max-width: 50% !important;
  }
}

.home-banner {
  background-color: #ef660a;
}

.home-banner a {
  display: block;
  padding: 40px 0;
  font-size: 20px;
  width: 90%;
  margin: auto;
  font-family: Grotzechdcn, sans-serif;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
  color: #000000;
  text-align: center;
}

@media (min-width: 767px) {
  .home-banner a{
    font-size: 28px;
  }
}

@media (min-width: 576px) {
  .home-banner a{
    width: 90%;
  }
}

.hero-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.hero-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(60%);
}

.tfw-strapline {
  text-align: center;
}

.tfw-strapline-content {
  width: 90% !important;
  margin: 0 auto;
  color: white;
  width: 420px;
}

.tfw-strapline-content h1 {
  font-size: 85px;
}

@media (min-width: 576px) {
  .tfw-strapline-content {
    max-width: 570px;
  }
}

@media (min-width: 767px) {
  .tfw-strapline-content {
    margin-top: 50px;
    width: 500px;
  }
}

@media (min-width: 1200px) {
  .tfw-strapline-content {
    width: 530px;
  }
}

.tfw-hero-btns {
  display: flex;
  justify-content: center;
  margin: 2rem 0 0;
}

.tfw-button,
.tfw-watch-video,
.tfw-watch-tour,
.tfw-get-in-touch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 1.2rem;
  padding: 12px 29px;
}

.tfw-button span,
.tfw-watch-video span,
.tfw-watch-tour span,
.tfw-get-in-touch span {
  text-transform: uppercase;
  font-size: 1rem;
  font-family: "GrotzecHdCn", Arial, Helvetica, sans-serif;
  line-height: 1;
  margin-bottom: 0;
}

.tfw-watch-tour,
.tfw-watch-video {
  border: 1px solid white;
  color: white;
  transition: 0.3s;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .tfw-watch-tour {
    display: none;
  }
}

@media (min-width: 1200px) {
  .tfw-watch-video {
    display: none;
  }
}

.tfw-get-in-touch {
  color: black;
  border: 1px solid white;
  background-color: white;
  transition: 0.3s;
}

.tfw-video-modal {
  display: none;
}

.tfw-show-modal {
  display: unset;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
